/* Home.css */
body, html {
  margin: 0;
  padding: 0;
  background-color: black; /* Set the background color of the entire page */
}

.dark-theme {
  background-color: #333;
  color: white;
  margin: 0
}

.dark-text {
  color: #a8b4bf;
}

.dark-table {
  width: 100%;
  border-collapse: collapse;
}

.dark-table th, .dark-table td {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
}

.dark-table th {
  background-color: #555;
}

.selected-row {
  background-color: grey; /* Change to your desired highlight color */
}